@model IEnumerable<WebAppMvc.Models.Post>

@{
    ViewData["Title"] = "Posts";
}

<<div class="header-container">
    <h1>Posts</h1>
    <div class="action-links">
        <a asp-action="Create" class="btn btn-icon" title="Create"><i class="bi bi-plus"></i></a>
        <a asp-action="Edit" class="btn btn-icon" title="Edit"><i class="bi bi-pencil"></i></a>
        <a asp-action="Delete" class="btn btn-icon" title="Delete"><i class="bi bi-trash"></i></a>
    </div>
</div>

<form id="bulkOperationsForm" asp-action="BulkOperation" method="post">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.PostId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="radio" name="selectedPostId" value="@item.PostId" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>